*{
    margin:0;
    padding:0;
    font-family:Arial;
    border:border-box;
    /* background-color:#e7c6c6; */
}
/* navigation bar */
.navbar{
    height:60px;
    background-color:#0f1111;
    color:white;
    display:flex; 
    align-items: center;
    justify-content: space-evenly;
    
}
/* box 1 */
.nav-logo{
    height:50px;
    width:100px;
}
.logo{
    background-image:url("amazon-logo.png");
    height:50px;
    width:100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.border{
    border: 1.1px solid transparent;
}
.border:hover{
    border: 1.1px solid white;
}
/* box 2 */
.add-1{
    color:#cccccc;
    font-size:0.85rem; 
    margin-left:20px;
}
.add-icon{
    display:flex;
}
.add-2{
    font-size:1.2rem;
    font-weight:bold;
    margin-left:5px;
}
/*  box 3 */
.nav-search{
    display:flex;
    justify-content:space-evenly;
    height:40px;
    width:620px;
    border-radius: 4px;
    background-color: white;
}
.search-select{
    background-color: #f3f3f3;
    width:50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px; 
    border:none;
}
.search-input{
    width:100%;
    font-size: 1rem;
    border:none;
}   
.search-icon{
    width:45px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #febd69; 
    font-size: 1.2rem;
    border-top-right-radius:4px;
    border-bottom-right-radius: 4px; 
}
.nav-search:hover{
        border:2px solid #f90; 
    }
/* box 4 */
span{
    font-size:0.7rem;
}
.nav-second{
    font-size: 0.85rem;
    font-weight:700;
 
}
/* box 6 */
.nav-cart i {
    font-size:30px;
}
.nav-cart{
    font-size:0.85rem;
    font-weight:700;    
}
/* pannel */
.pannel{
    display:flex;

    height:40px;
    background-color:#222f3d ;
    color:white;
    align-items: center;
     justify-content: center; 
}
.pannel-ops p{
    display: inline;
    margin:15px;
} 
.pannel-ops{
    width:70%;
    font-size: 0.85rem;
}
.pannel-deals{
    font-size: 0.9rem;
    font-weight:700;
}
/* hero-section */
.hero-section{
    height:300px;
    background-image: url("hero-image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display:flex;
    justify-content: center;
    align-items: flex-end;

}
.hero-message{
    background-color: white;
    height: 30px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85reem;
    width:80%;
    margin-bottom: 20px;
}
.hero-message a{
    color:#007185; 
}
/* shop section */
.shop-section{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e7c6c6;
    padding:20px 0px 20px;
    
}
.box{
    height:400px;
    width: 23%;
    /* border:2px solid black; */ 
    background-color: white;
    padding: 20px 0px 15px;
    margin-top:15px;
} 
.box-image{
    height:320px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-content{
    margin-left:10px;
    margin-right: 10px;
} 
.box-content p{
    color:#007185;
}
.box3 p{
    color:red;
    font-weight:bold;
    
}
footer{
    margin-top: 15px;
}
.foot-pannel1{
    height:40px;
    background-color:#37475a ;
    color:white;
    display:flex;
    align-items: center;
    justify-content: center;  
    font-size: 0.85rem;  
}
.foot-pannel2{
    display:flex;
    background-color:#232f3e ;
    color:white;
    justify-content: space-evenly;
    padding: 20px 0px 20px;
    height:300px;
}
.foot-pannel2 a{
    display:block;
    font-size:0.85rem; 
    color:#dddddd;
    margin: 6px 0px 6px;
}
.foot-pannel3{
    height:60px;
    background-color:#131a22 ;
    color:white;
    display:flex;
    align-items: center;
    justify-content: center;
    border-top: 0.5px solid white;
    height:70px;
}
.foot-pannel3 .logo{
    height:40px;
    width:100px;
}
.foot-pannel4{
    height:50px;
    background-color:#131a22 ;
    color:white;
    display:flex;
    align-items: center;
    justify-content: center;
    border-top: 0.5px solid white;
    font-size:0.75rem;
    text-align: center;
    padding: 20px 0px 0px;
    display:block;
}
